body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    margin-bottom: 10px;

}

.header p{
    font-weight: bold;
}
#select{
    background-color:red;
    color:white;
    border-radius: 10px;
    padding: 8px;
    border-color: red;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin-top: 20px;
    

}
.dark{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 8px;

}
.randomColor{
    background-color: yellow;
    border-radius: 10px;
    padding: 8px;
    border-color: yellow;

}
.reset{
    background-color: navy;
    color: white;
    border-radius: 10px;
    padding: 8px;
    border-color: navy;
}   
#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
}